@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Open-Sans", sans-serif;
    min-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.backdrop {    
    display: none;
    background: rgba(94, 94, 94, 0.267);    
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.nav-bar {
    display: block;
    border-bottom: 1px solid black;
    background-color: rgb(119, 119, 119);
}

.nav-bar-header {
    display: flex;
    align-items: center;
}

.nav-bar-title {
    font-size: 1.1rem;
    margin: 0 auto;
}

.nav-bar-button {
    width: 2.5rem;
    background: none;
    cursor: pointer;
    border: none;
}

.nav-bar-button__bar {
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.5rem 0;
}

.nav-bar-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 60vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
}

.messages-container {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: scroll;
    flex: 1;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.reply-container {
    position: fixed;
    bottom: 0;
}

.channels, .users {
    list-style: none;
}

@media (min-width: 40rem) {
    .nav-bar-button {
        display: none;
    }

    .channels-container, .users-container {
        display: block;
    }
}