@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Open-Sans", sans-serif;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: hotpink;
}

.backdrop {    
    display: none;
    background: rgba(94, 94, 94, 0.267);    
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.chat-header {
    display: flex;
    align-items: center;
    background-color: rgb(119, 119, 119);
}

.chat-nav-button {
    width: 2.5rem;
    background: none;
    cursor: pointer;
    border: none;
}

.chat-nav-button__bar {
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.5rem 0;
}

.chat-header h1 {
    font-size: 1.1rem;
    margin: 0 auto;
}

.chat-container {
    display: flex;
    overflow-y: auto;
    background: khaki;
    height: 100%;
}

.chat-nav {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 60vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: orange;
    overflow-y: auto;
}

.chat {
    display: flex;
    flex-flow: column;
    overflow: auto;
    flex: 1;
    padding: 0.5rem;
}

.messages {
    overflow-y: auto;
}

.reply-container {
    background: royalblue;
    margin-top: auto;
}

.reply-container input[type=submit] {
    cursor: pointer;
}

.channels, .users {
    list-style: none;
}

@media (min-width: 40rem) {
    .chat-nav-button {
        display: none;
    }

    .chat-nav {
        display: flex;
        height: auto;
        width: auto;
        position: static;
    }
}