@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Open-Sans", sans-serif;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: hotpink;
}

.backdrop {    
    display: none;
    background: rgba(94, 94, 94, 0.267);    
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.chat-header {
    display: flex;
    align-items: center;
    background-color: rgb(119, 119, 119);
}

.chat-channels-button {
    width: 2.5rem;
    background: none;
    cursor: pointer;
    border: none;
}

.chat-channels-button__bar {
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.5rem 0;
}

.chat-header h1 {
    font-size: 1.1rem;
    margin: 0 auto;
}

.chat-container {
    display: flex;
    overflow-y: auto;
    background: khaki;
    height: 100%;
}

.chat-users-button {
    background: url('../images/users-icon.svg') center/2rem no-repeat;
    height: 2rem;
    width: 2rem;
    border: none;
    cursor: pointer;
    outline: none;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
  }

.channels-container, .users-container {
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    position: fixed;
    top: 0;
    z-index: 10;
    overflow: hidden auto;
    transition: transform 0.3s; 
}

.channels-container {
    background-color: orange;
    left: 0;
    transform: translate(-100%);
}


.channels-container__backdrop {    
    display: none;
    background: rgba(44, 44, 44, 0.267);    
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.channels-header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.channels-icon {
    background: url('../images/channels-icon.svg');
    min-height: 2rem;
    min-width: 2rem;
    background-size: 2rem 2rem;
}

.channels-header h1 {
    font-size: 1.2rem;
    margin-left: 4px;
}

.add-icon {
  border: none;
  background: none;
  font-size: 1.5rem;
  margin-left: auto;
}

.add-icon:hover {
    cursor: pointer;
}

.add-icon ~ .tooltip {
    display: none;
}

.channels, .users {
    list-style: none;
    padding: 8px;
    overflow-x: hidden;
    padding: 0.5rem;
}

.channel {
    margin-bottom: 8px;
}

.hashtag {
    color: grey;
    margin-right: 4px;
}

.settings-bar {
    display: flex;
    position: absolute;
    /* width: 90%; */
    width: 100%;
    padding: 0.5rem;
    bottom: 0;
    margin: auto 0 0.5rem 0;
}

.settings-bar .user {
    flex: 1;
    overflow: hidden;
}

.settings-bar .user .name {
    font-size: 0.9rem;
    margin-left: 0.4rem;
}

.settings-bar__settings {
    height: 2rem;
    width: 2rem;
    z-index: 10;
}

.settings-bar__settings__button {
    background: url('../images/settings.svg') center/2rem no-repeat;    
    height: 2rem;
    width: 2rem;
    border: none;
    cursor: pointer;
}

.settings-bar__settings__menu {
    position: absolute;
    bottom: 4rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    background: white;
    border: none;    
    width: 100%; 
    display: none;
    z-index: 10;    
}

.settings-bar__settings__menu__item {
    background: slategray;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    flex: 1;
    text-align: center;
    padding: 0.5rem;
}

.chat {
    display: flex;
    flex-flow: column;
    overflow: auto;
    flex: 5;
    padding: 0.5rem;
}

.messages {
    overflow-y: auto;
}

.message {
    padding: 5px;
    display: flex;
    position: relative;
}

.message-content {
    display: flex;
    flex-direction: column;
}

.message .user-icon img {
    border-radius: 50%;
    min-height: 2.5rem;
    min-width: 2.5rem;
    max-height: 2.5rem;
    max-width: 2.5rem;
    background: white
}

.message-username {
    font-weight: bold;
    padding: 0 0.7rem;
}

.message-date {
    font-size: 0.9rem;
    font-weight: normal;
    margin-left: 8px;
}

.message-time {
    display: none;
}

.message-text-list {
    list-style: none;
}

.message-text-container {
    position: relative;
    padding: 0 0.7rem 0.7rem 0.7rem;
}

.reply-container {
    background: none;
    margin-top: auto;
    display: flex;
}

.reply-container__reply-box {
    flex: 1;
    border: none;
    border-radius: 25px;    
    padding: 0.6rem;
    font-size: 1rem;
}

.reply-container__reply-button {
    cursor: pointer;
    border: none;
    width: 2.5rem;
    height: auto;
    background: url(../images/send-icon.svg) center/1.5rem no-repeat border-box slategray;

    border-radius: 50%;
    margin-left: 0.5rem;
}

.users-container {     
    background: greenyellow;
    right: 0;
    transform: translate(100%);
}

.users-header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.users-header .users-icon {
    background: url('../images/users-icon.svg');
    min-height: 2rem;
    min-width: 2rem;
    background-size: 2rem 2rem;
}

.users-header h1 {
    font-size: 1.2rem;
    margin-left: 4px;
}

.user {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.user-icon img {
    min-height: 2rem;
    min-width: 2rem;
    max-height: 2rem;
    max-width: 2rem;
}

.user .user-icon {
    border-radius: 50%;
    min-height: 2rem;
    min-width: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    background: white
}

.user span {
    margin-left: 16px;
}

@media (min-width: 40rem) {
    .chat-channels-button, .chat-users-button {
        display: none;
    }

    .channels-container, .users-container {
        display: flex;
        height: auto;
        width: auto;
        flex: 1;
        transform: none;
    }

    .channels-container {
        position: relative;
    }

    .channels-header .tooltip {
        display: block;
        font-size: 0.8rem;
        position: fixed;
        background-color: rgb(70, 70, 70);
        color: white;
        border-radius: 10px;
        padding: 5px;
        opacity: 0;
        transition: opacity ease-in 0.1s;
        visibility: hidden;
    }

    .channels-header .tooltip::after {
        content: "";
        font-size: 0.9rem;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }

    .message-time {    
        display: block;
        font-size: 0.7rem;
        position: absolute;    
        bottom: 0;
        right: 0.7rem;
        opacity: 0;
        transition: opacity 0.15s ease-out;
        padding: 0;
    }

    .message-text-container:hover > .message-time {
        opacity: 1;
    }

    .users-container {
        position: static;
    }

}