.ReplyBox {
    background: none;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
}

.ReplyContainer {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.Reply {
    flex: 1;
    border: none;
    border-radius: 25px;    
    padding: 8px;
    font-size: 0.9rem;
    border: 2px solid var(--gray);
    background: var(--white);
    max-height: 25vh;
    resize: none;
}

.EditingMobileMessage {
    background: var(--lightBlue);
    color: var(--white);
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 4px;
    width: 100%;
}

.EditingMobileMessage div {
    margin-left: 4px;
}

.CancelBtn {
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
    background: #b12626;
    color: white;
    padding: 4px;
    cursor: pointer;
    margin-left: auto;
}

.CancelBtnHighlight {
    background: #7c2424;
}

.ReplyBtn {
    cursor: pointer;
    border: none;
    width: 2rem;
    height: 2rem;
    background: url(../../assets/send-icon.svg) center/1.5rem no-repeat border-box var(--gray);
    border-radius: 50%;
    margin-left: 0.5rem;
}

.Error {
    color: var(--red);
    font-size: 0.8rem;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0.6rem;
}

.Highlight {
    background-color: #52585f;
}

@media (min-width: 40rem) {
    .Reply {
        padding: 4px 10px;
    }

    .ReplyBtn {
        height: 2.5rem;
        width: 2.5rem;
        background-size: 2rem;
    }
}