.Container {
    background: var(--lightBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ErrorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ErrorPage header {
    background: var(--red);
    color: var(--white);
    font-size: 1.25rem;
    padding: 4px;
    width: 100%;
}

.ErrorPage nav  {
    display: none;
}

.ErrorPage h1 {
    color: var(--white);
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    margin: 1rem auto;
}

.ErrorIcon {
    fill:  var(--red);
    height: 7rem;
    width: 7rem;
    margin-bottom: 2rem;
}

.Message {
    font-size: 1.15rem;
    color: var(--white);
}

.Buttons {
    display: flex;
    margin-top: auto;
    width: 100%;
}

.Button {
    background: var(--gray);
    border: none;
    border-right: 1px solid var(--black);
    cursor: pointer;
    flex: 1;
    height: 3rem;
}

.Button:last-child {
    border-right: none;
}

.Highlight {
    background-color: #52585f;
}

@media(min-width: 40rem) {
    .ErrorPage {
        background: var(--white);
        border: 1px solid var(--black);
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.50);
        height: 100%;
        width: 75%;
    }

    .ErrorPage header {
        display: flex;
        align-items: center;
        font-size: 1rem;
        height: 2.5rem;
    }

    .ErrorPage nav  {
        display: block;
    }

    .Links {
        display: flex;
        list-style: none;
        padding: 8px;
    }

    .Link {
        margin-left: 8px;
    }

    .Link a, .Link a:visited {
        color: var(--white);
    }

    .Link a:hover, .Link a:visited:hover  {
        color: var(--black);
    }

    .ErrorMessage {
        display: none;
    }

    .ErrorPage h1 {
        color: var(--black);
    }

    .Message {
        color: var(--black);
    }

    .Buttons {
        display: none;
    }
}


@media(min-width: 100rem) {
    .ErrorPage {
        width: 50%;
    }
}