.Container {
    position: relative;
}

.Container:hover {
    background: rgba(255, 255, 255, 0.3);
}

.Channel {    
    cursor: pointer; 
    margin-bottom: 8px;
}

.Channel__icon::before {
    content: "#";
}

.Channel__icon {    
    color: var(--white);
    margin-right: 4px;
}

.Channel_name {
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
}

.ChannelBtns {        
    display: none;
}

.ChannelBtn {
    border-radius: 5px;
    cursor: pointer;
    border: none;
    height: 1.25rem;
    margin: 0 2px;
    width: 1.25rem;

    overflow: visible;
    padding: 8px;
}

.DeleteBtn {
    background: url(../../../assets/close-icon.svg) center/1.15rem no-repeat border-box var(--gray);
}  

.EditBtn {
    background: url(../../../assets/edit-icon.svg) center/1.15rem no-repeat border-box var(--gray);
}    

.Show {
    display: block;
}

.Hide {
    display: none;
}

@media(min-width: 40rem) {
    .ChannelBtns {
        display: none;
        position: absolute;
        justify-content: flex-end;
        right: 0;
        top: 0;
    }   

    .ShowBtns {
        display: flex;
   }
}