.Messages {
    overflow-y: auto;
    padding: 0.5rem;
    font-size: 0.9rem;
    height: 100%;
}

.Message {
    padding: 2px;
    display: flex;
    position: relative;    
}

.Message:hover {
    background: rgba(0,0,0, 0.05);
}

.EditBtn {
    border: none;
    display: none;
    z-index: 1;
}

.Message_content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.User_icon {
    border-radius: 50%;
    min-height: 2.5rem;
    min-width: 2.5rem;
    max-height: 2.5rem;
    max-width: 2.5rem;
    background: var(--userBackground)
}

.User_name {
    font-weight: bold;
    padding: 0 0.7rem;
}

.Message_timestamp {
    font-size: 0.9rem;
    font-weight: normal;
    margin-left: 8px;
}

.Message_time {
    display: none;
}

.Message_text_container {
    display: flex;
    width: 100%;
}

.Message_text {
    background: none;
    border: none;
    padding: 0 0.7rem;
    position: relative;
    font-size: 0.9rem;
    line-height: 0.9rem;
    overflow-wrap: anywhere;
    width: 100%;
}

.Message_text_editable {
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
}

.Edited {
    font-size: 0.6rem;
    color: rgb(68, 68, 68);    
    padding: 0 0.7rem;
    margin-left: auto;
}

.MessageOptions {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 0;
    justify-content: center;
    align-items: center;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.3s;
    width: 100vw;
    z-index: 10;
}

.MessageOption {
    background: var(--gray);
    border: none;
    height: 2.5rem;
    text-align: center;
    font-size: 1.05rem;
    font-weight: bold;
    padding: 8px;
    width: 100%;
}

.ShowOptions {
    transform: translateY(0%);
}


.TopMargin {
    margin-top: 8px;
}

.Show {
    display: block;
}

.Hide {
    display: none;
}

.Visible {
    visibility: visible;
}

.Invisible {
    visibility: hidden;
    height: 0;
}

.Highlight {
    background-color: #52585f;
}

@media(min-width: 40rem) {
    .EditBtn {
        background: url(../../assets/edit-icon.svg) center/1.5rem no-repeat border-box var(--gray);
        border-radius: 5px;
        cursor: pointer;
        height: 1.75rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px;
        margin: 0 8px;
        width: 1.75rem;
    }
}