.Modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.Modal header {
    display: flex;
    align-items: center;
    background: cornflowerblue;
}

.Title {
    font-size: 1rem;
    margin: 0 auto;
}

.Modal button {    
    border: none;
    cursor: pointer;
}

.Close {
    padding: 4px;
}

.CloseBtn {
    background: url('../../assets/close-icon.svg') center/2.5rem no-repeat border-box border-box;
    width: 2.5rem;
    height: 2.5rem;
}

.OkayBtn {
    background: yellowgreen;
    border: none;
    height: 3rem;
    margin-top: auto;
    width: 100%;   
}

@media (min-width: 40rem) {
    .Modal {
        height: 25vh;
        width: 50vh;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -75%);
        border-radius: 20px;
        overflow: hidden;
    }
}