.Channels {
    background-color: var(--lightBlue);
    flex-direction: column;
    height: 100vh;
    left: 0;
    overflow: hidden auto;
    position: fixed;
    top: 0;
    transition: transform 0.3s; 
    width: 60vw;
    z-index: 10;
    transform: translate(-100%);
}

.Channels__list {
    list-style: none;
    padding: 8px;
    overflow-x: hidden;
}

.ChannelOptions {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    transform: translateY(1000%);
    transition: transform 0.3s;
    width: 100vw;
    z-index: 100;
}

.ChannelOption {
    background: var(--gray);
    border: none;
    height: 2.5rem;
    text-align: center;
    font-size: 1.05rem;
    font-weight: bold;
    padding: 8px;
    width: 100%;
}

.ShowOptions {
    transform: translateY(0%);
}

.Open {
    transform: translate(0);
}

.Highlight {
    background-color: #52585f;
}

@media (min-width: 40rem) {
    .Channels  {
        display: flex;
        flex: 1;
        height: auto;
        position: relative;
        transform: none;
        width: auto;
        z-index: 0;
    }
}