#NewChannelModal {
    padding: 0 16px;
}

#NewChannelModal label {
    display: inline-block;
    width: 100%;
}

#NewChannelModal input {
    display: inline-block;
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

.SubmitBtn {
    background: var(--okayGreen);
    border: none;
    height: 3rem;
    margin-top: auto;
    width: 100%;   
    cursor: pointer;
}