@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Open-Sans", sans-serif;
    height: 100%;
}


.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: hotpink;
}

.backdrop {    
  display: none;
  background: rgba(94, 94, 94, 0.267);    
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
}